.header {
    margin-left: 230px;
    height: 60px;
    background: #1e293b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
}

.logout-btn {
    background: #ef4444;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #dc2626;
    transform: scale(1.05);
}